@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.clients,
.coworkers,
.analytics,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.page-head {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

.page-head.active {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: none;
}

.filter {
  margin-left: 80px;
  position: sticky;
}

.input-container {
  margin: 15px 30px 20px 265px;
  display: flex;
  /* width: 80%; */

  gap: 10px;
}

.filter.active {
  margin-left: 265px;
  transition: 350ms;
}

.setting-icon {
  margin-right: 30px;
  cursor: pointer;
}
